/*******/

body {
    background-image: url("../images/Bobs_street_scene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background: none;
}

#logo {
    margin-top: -65px;
}

h1 {
    font-family: 'Sniglet', cursive;
    padding: 20px;
}

#start {
    font-family: 'Sniglet', cursive;
    background-color: rgb(245, 225, 36);
    color: rgb(237, 33, 48);
    border: 4px solid rgb(237, 33, 48);
    text-decoration: none;
    text-shadow: -2px 1px black;
}

.container {
    margin-top: 40px;
}

.choice {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

#time {
    text-align: center;
}

#start {
    text-align: center;
}